In [2]:
import pandas as pd

In [5]:
pd.__version__

'2.0.3'

In [13]:
url_list = ['https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz',
    'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-11.csv.gz',
    'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-12.csv.gz']

In [15]:
taxi_dtypes = {
        'VendorID': pd.Int64Dtype(),
        'passenger_count': pd.Int64Dtype(),
        'trip_distance': float,
        'RatecodeID': pd.Int64Dtype(),
        'store_and_fwd_flag': str,
        'PULocationID': pd.Int64Dtype(),
        'DOLocationID': pd.Int64Dtype(),
        'payment_type': pd.Int64Dtype(),
        'fare_amount': float,
        'extra': float,
        'mta_tax': float,
        'tip_amount': float,
        'tolls_amount': float,
        'improvement_sutcharge': float,
        'total_amount': float,
        'congestion_syrcharge': float
    }

parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

In [18]:
df=pd.read_csv(url_list[0],sep=',', compression='gzip', parse_dates = parse_dates, dtype=taxi_dtypes)

In [19]:
df2=pd.read_csv(url_list[1],sep=',', compression='gzip', parse_dates = parse_dates, dtype=taxi_dtypes)

In [20]:
df3=pd.read_csv(url_list[2],sep=',', compression='gzip', parse_dates = parse_dates, dtype=taxi_dtypes)

In [21]:
df.describe()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,52610.0,95120,95120,52610.0,95120.0,95120.0,52610.0,95120.000000,95120.000000,95120.000000,95120.000000,95120.000000,95120.000000,0.0,95120.000000,95120.000000,52610.0,52610.000000,52610.000000
mean,1.809827,2020-10-16 15:00:30.066589440,2020-10-16 15:22:42.666558208,1.150618,109.036953,129.797529,1.310017,27.078195,19.543337,0.208398,0.265475,1.989345,0.500357,NaN,0.297423,23.094755,1.440962,1.031534,0.571892
min,1.0,2008-12-31 23:12:22,2008-12-31 23:13:59,1.0,1.0,1.0,0.0,0.000000,-83.530000,-4.500000,-0.500000,-1.290000,0.000000,NaN,-0.300000,-70.940000,1.0,1.000000,0.000000
25%,2.0,2020-10-08 15:07:00,2020-10-08 15:30:28.249999872,1.0,55.0,63.0,1.0,1.290000,9.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.300000,11.760000,1.0,1.000000,0.000000
50%,2.0,2020-10-16 14:34:16.500000,2020-10-16 14:56:05.500000,1.0,76.0,127.0,1.0,2.520000,16.730000,0.000000,0.500000,2.750000,0.000000,NaN,0.300000,19.880000,1.0,1.000000,0.000000
75%,2.0,2020-10-24 12:04:57,2020-10-24 12:25:38.249999872,1.0,166.0,197.0,1.0,5.560000,25.000000,0.000000,0.500000,2.750000,0.000000,NaN,0.300000,29.000000,2.0,1.000000,0.000000
max,2.0,2020-11-01 05:13:13,2020-11-01 21:11:11,99.0,265.0,265.0,9.0,205654.120000,245.500000,4.500000,1.000000,111.600000,39.360000,NaN,0.300000,257.920000,5.0,2.000000,2.750000
std,0.392441,NaN,NaN,0.864155,70.863211,76.956499,1.033121,1618.761013,14.018855,0.528141,0.251254,1.932067,1.814260,NaN,0.033101,15.549828,0.522983,0.174757,1.115674

In [23]:
df.count()

VendorID                 52610
lpep_pickup_datetime     95120
lpep_dropoff_datetime    95120
store_and_fwd_flag       52610
RatecodeID               52610
PULocationID             95120
DOLocationID             95120
passenger_count          52610
trip_distance            95120
fare_amount              95120
extra                    95120
mta_tax                  95120
tip_amount               95120
tolls_amount             95120
ehail_fee                    0
improvement_surcharge    95120
total_amount             95120
payment_type             52610
trip_type                52610
congestion_surcharge     52610
dtype: int64

In [27]:
df.shape[0]

95120

In [30]:
df2.shape[0]

88605

In [31]:
df3.shape[0]

83130

In [35]:
df['passenger_count'].isin([0]).sum()

259

In [36]:
df2['passenger_count'].isin([0]).sum()

192

In [37]:
df3['passenger_count'].isin([0]).sum()

210

In [38]:
df['trip_distance'].isin([0]).sum()

3658

In [39]:
df2['trip_distance'].isin([0]).sum()

2989

In [40]:
df3['trip_distance'].isin([0]).sum()

2215

In [42]:
df[(df[('passenger_count')]>0)]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.00
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.00
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.00
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.00
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52605,2,2020-10-31 23:12:22,2020-10-31 23:17:40,N,1,75,74,1,1.19,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,1,1.0,0.00
52606,2,2020-10-31 23:59:51,2020-11-01 00:04:01,N,1,75,236,1,0.85,5.0,0.5,0.5,1.00,0.0,NaN,0.3,10.05,1,1.0,2.75
52607,2,2020-10-31 23:04:49,2020-10-31 23:24:36,N,1,81,167,1,5.12,18.5,0.5,0.5,0.00,0.0,NaN,0.3,19.80,2,1.0,0.00
52608,2,2020-10-31 23:44:23,2020-10-31 23:47:52,N,5,69,69,1,0.51,8.0,0.0,0.0,0.00,0.0,NaN,0.3,8.30,2,2.0,0.00
52609,2,2020-11-01 00:01:42,2020-11-01 00:16:39,N,5,247,212,1,6.01,13.0,0.0,0.0,0.00,0.0,NaN,0.3,13.30,2,2.0,0.00

In [43]:
df2[(df2[('passenger_count')]>0)]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-11-01 00:08:23,2020-11-01 00:32:03,N,5,97,75,1,10.49,28.03,0.0,0.0,3.40,0.0,NaN,0.3,34.48,1,1.0,2.75
1,2,2020-11-01 00:23:32,2020-11-01 00:32:10,N,1,41,127,1,4.52,14.00,0.5,0.5,1.00,0.0,NaN,0.3,16.30,1,1.0,0.00
2,2,2020-11-01 00:43:14,2020-11-01 00:54:54,N,1,42,213,1,6.51,19.50,0.5,0.5,0.00,0.0,NaN,0.3,20.80,1,1.0,0.00
3,2,2020-11-01 00:33:13,2020-11-01 00:47:23,N,1,78,212,1,1.95,11.00,0.5,0.5,0.00,0.0,NaN,0.3,12.30,2,1.0,0.00
4,2,2020-11-01 00:49:28,2020-11-01 00:53:54,N,1,134,134,2,1.02,5.50,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48486,2,2020-11-30 23:39:25,2020-11-30 23:43:56,N,1,129,129,2,0.73,5.00,0.5,0.5,1.89,0.0,NaN,0.3,8.19,1,1.0,0.00
48487,2,2020-11-30 23:34:45,2020-11-30 23:37:00,N,1,43,75,1,0.40,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.00
48488,2,2020-12-01 00:03:56,2020-12-01 00:08:59,N,5,41,42,1,1.55,10.00,0.0,0.0,0.00,0.0,NaN,0.3,10.30,1,2.0,0.00
48489,2,2020-11-30 23:31:31,2020-11-30 23:47:34,N,5,247,127,2,3.94,16.00,0.0,0.0,0.00,0.0,NaN,0.3,16.30,2,2.0,0.00
48490,2,2020-11-30 23:12:49,2020-11-30 23:43:37,N,1,146,249,1,11.23,33.50,0.5,0.5,0.00,0.0,NaN,0.3,37.55,2,1.0,2.75

In [44]:
df3[(df3[('passenger_count')]>0)]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-12-01 00:29:37,2020-12-01 00:32:51,N,1,75,75,1,0.59,4.5,0.5,0.5,1.16,0.0,NaN,0.3,6.96,1,1.0,0.00
1,2,2020-12-01 00:41:46,2020-12-01 00:46:31,N,1,75,74,1,1.24,6.0,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1.0,0.00
2,2,2020-12-01 00:05:46,2020-12-01 00:10:48,N,1,244,243,2,1.19,6.0,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1.0,0.00
3,2,2020-11-30 23:59:17,2020-12-01 00:16:06,N,1,75,68,1,5.08,17.0,0.5,0.5,2.00,0.0,NaN,0.3,23.05,1,1.0,2.75
4,2,2020-12-01 00:57:03,2020-12-01 01:00:29,N,1,74,263,1,1.24,5.5,0.5,0.5,0.00,0.0,NaN,0.3,9.55,2,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46287,2,2020-12-31 23:08:35,2020-12-31 23:13:00,N,1,41,74,1,0.79,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1.0,0.00
46288,2,2020-12-31 23:11:04,2020-12-31 23:20:08,N,5,41,116,2,2.31,12.0,0.0,0.0,0.00,0.0,NaN,0.3,12.30,2,2.0,0.00
46289,2,2020-12-31 23:24:33,2020-12-31 23:40:24,N,5,116,119,1,5.73,20.0,0.0,0.0,0.00,0.0,NaN,0.3,20.30,2,2.0,0.00
46290,2,2020-12-31 23:13:59,2020-12-31 23:16:20,N,1,42,42,1,0.31,3.5,0.5,0.5,0.00,0.0,NaN,0.3,4.80,2,1.0,0.00
46291,2,2020-12-31 23:54:15,2021-01-01 00:11:17,N,1,75,167,1,3.74,15.0,0.5,0.5,1.00,0.0,NaN,0.3,17.30,1,1.0,0.00

In [46]:
df[(df[('trip_distance')] == 0)]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
35,2,2020-10-01 01:15:00,2020-10-01 01:15:11,N,5,216,216,1,0.0,24.70,0.0,0.0,0.00,0.0,NaN,0.3,25.00,2,2.0,0.0
64,1,2020-10-01 05:54:33,2020-10-01 06:15:27,N,1,174,74,1,0.0,30.13,0.0,0.5,0.00,0.0,NaN,0.3,30.93,1,1.0,0.0
85,1,2020-10-01 06:34:53,2020-10-01 06:35:03,N,1,75,75,1,0.0,2.50,0.0,0.5,0.00,0.0,NaN,0.3,3.30,3,1.0,0.0
86,1,2020-10-01 06:41:03,2020-10-01 06:53:25,N,1,74,243,1,0.0,8.50,0.0,0.5,0.00,0.0,NaN,0.3,9.30,3,1.0,0.0
133,2,2020-10-01 07:07:04,2020-10-01 07:07:12,N,5,208,208,1,0.0,15.00,0.0,0.0,0.00,0.0,NaN,0.3,15.30,1,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93812,<NA>,2020-10-18 19:14:00,2020-10-18 19:36:00,NaN,<NA>,228,55,<NA>,0.0,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,<NA>,NaN,NaN
93868,<NA>,2020-10-18 22:35:31,2020-10-18 22:58:50,NaN,<NA>,181,158,<NA>,0.0,17.20,0.5,0.5,6.30,0.0,NaN,0.3,29.30,<NA>,NaN,NaN
94186,<NA>,2020-10-19 08:20:06,2020-10-19 08:45:34,NaN,<NA>,74,87,<NA>,0.0,26.70,0.0,0.5,0.00,0.0,NaN,0.3,32.00,<NA>,NaN,NaN
94838,<NA>,2020-10-19 12:21:29,2020-10-19 12:43:22,NaN,<NA>,74,140,<NA>,0.0,15.70,0.0,0.5,2.85,0.0,NaN,0.3,23.85,<NA>,NaN,NaN
94931,<NA>,2020-10-19 13:46:00,2020-10-19 13:46:00,NaN,<NA>,92,92,<NA>,0.0,11.95,0.0,0.0,2.75,0.0,NaN,0.3,15.00,<NA>,NaN,NaN

In [47]:
df['VendorID'].unique()

<IntegerArray>
[2, 1, <NA>]
Length: 3, dtype: Int64

In [50]:
df=pd.concat([df, df2, df3])

In [51]:
df.shape[0]

266855

In [55]:
df = df[(df[('passenger_count')]>0) & (df[('trip_distance')]>0)]

In [56]:
df.shape[0]

139370